<%= form_with(model: task, class: "contents") do |form| %>
  
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert bg-red-300 text-red-900 p-3 
         shadow-md rounded-md flex items-start gap-2" role="alert">
      <span aria-hidden= true >
        <%= lucide_icon('terminal') %>
      </span>

      <div class="flex flex-col">
        <h5 class="font-medium leading-none mbe-1">
          <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
        </h5>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: "font-medium dark:text-gray-100" %>
    <%= form.text_field :name, class: "block w-full mt-1 text-gray-800 dark:text-gray-100 rounded-md 
        bg-white dark:bg-gray-700 px-3 py-2 text-base text-gray-900 border-1
         border-gray-400 placeholder:text-gray-400 focus:ring focus:ring-blue-300 
        focus:ring-opacity-50 sm:text-sm/6 shadow-md",
        placeholder: 'título da rarefa' %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "font-medium dark:text-gray-100" %>
    <%= form.textarea :description, rows: 3, class: "block w-full mt-1 text-gray-800 dark:text-gray-100 
        rounded-md bg-white dark:bg-gray-700 px-3 py-2 text-base text-gray-900 border-1
         border-gray-400 placeholder:text-gray-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 
        sm:text-sm/6 shadow-md",
        placeholder: 'descreva os detalhes da tarefa...' %>
  </div>

  <div class="my-5 sm:flex sm:justify-between sm:items-center gap-5">
    <div class="my-5 flex-1">
      <%= form.label "Deadline", for: "task_expiration_date", class: "font-medium dark:text-white" %>
      <%= form.date_field :expiration_date, class: "block w-full mt-1 text-gray-800 dark:text-gray-100 
          rounded-md bg-white dark:bg-gray-700 border-1 border-gray-400 text-gray-100 px-3 py-2  
          focus:ring focus:ring-blue-300 focus:ring-opacity-50 sm:text-sm/6 shadow-md" %>
    </div>

    <div class="my-5 flex-1">
      <%= form.label :status, class: "font-medium dark:text-gray-100" %>
        <%= form.select :status, Task::STATUSES,{}, 
          { class: 'block shadow rounded-md mt-1 w-full appearance-none rounded-md bg-white
          border dark:border-gray-600 dark:bg-gray-700 px-3 py-2 mt-1 text-gray-800 dark:text-gray-100
          outline-none  w-full focus:border-blue-400 focus:ring 
          focus:ring-blue-300 focus:ring-opacity-50' } %>
    </div>
  </div>
  
  <div class="my-5 sm:flex sm:justify-between sm:items-center gap-5">
    <div class="my-5 w-full">
      <%= form.submit class: "w-full text-center rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-blue-500 cursor-pointer" %>
    </div>

    <div class="w-full">
      <%= link_to "Cancel", tasks_path, class: "text-center rounded-lg py-3 px-5 bg-rose-600 text-white block font-medium hover:bg-rose-500" %>
    </div>
  </div>
<% end %>