<%= form_with(model: task, class: "contents") do |form| %>
  
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert bg-red-300 text-red-900 p-3 
         shadow-md rounded-md flex items-start gap-2 my-3" role="alert">
      <span aria-hidden= true >
        <%= lucide_icon('terminal') %>
      </span>

      <div class="flex flex-col">
        <h5 class="font-medium leading-none mbe-1">
          <%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:
        </h5>
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="space-y-4">
    <div class="relative group">
      <%= form.label :name, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
      <%= form.text_field :name, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white sm:text-sm",
          placeholder: "Enter task name" %>
      <div class="invisible group-hover:visible absolute z-10 bg-gray-900/70 text-white text-sm rounded-md p-2 -top-8 left-0">
        Enter a short and descriptive name for your task
      </div>
    </div>

    <div class="relative group">
      <%= form.label :description, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
      <%= form.text_area :description, 
          rows: 4, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white sm:text-sm",
          placeholder: "Describe your task details" %>
      <div class="invisible group-hover:visible absolute z-10 bg-gray-900/70 text-white text-sm rounded-md p-2 -top-8 left-0">
        Provide important details and instructions for task completion
      </div>
    </div>

    <div class="relative group">
      <%= form.label :deadline, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
      <%= form.date_field :expiration_date, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white sm:text-sm" %>
      <div class="invisible group-hover:visible absolute z-10 bg-gray-900/70 text-white text-sm rounded-md p-2 -top-8 left-0">
        Set a deadline for task completion
      </div>
    </div>

    <div class="relative group">
      <%= form.label :status, class: "block text-sm font-medium text-gray-700 dark:text-gray-200" %>
      <%= form.select :status, Task::STATUSES,
          {}, 
          class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white sm:text-sm" %>
      <div class="invisible group-hover:visible absolute z-10 bg-gray-900/70 text-white text-sm rounded-md p-2 -top-8 left-0">
        Select the current status of your task
      </div>
    </div>
  </div>

  <div class="sm:flex sm:justify-between sm:items-center gap-5">
    <div class="my-5 w-full">
      <%= form.submit class: "w-full text-center rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-blue-500 cursor-pointer" %>
    </div>

    <div class="w-full">
      <%= link_to "Cancel", tasks_path, class: "text-center rounded-lg py-3 px-5 bg-rose-600 text-white block font-medium hover:bg-rose-500" %>
    </div>
  </div>
<% end %>