<div id="<%= dom_id task %>" class="bg-gray-100/30 dark:bg-neutral-800/30 backdrop-blur-lg
     border border-1 border-gray-200 dark:border-gray-700 shadow-md rounded-lg px-5 py-3 my-4">

  <div class="py-2 w-full flex justify-between items-start border-b-2 border-stone-300 dark:border-gray-700 z-0">
    <div class="group flex flex-1 gap-2">
      <span class="mb-1 text-emerald-500 <%= 'text-gray-500 line-through' if task.completed? %>
          group-hover:text-emerald-600">
        <%= lucide_icon(icon_by_status(task.status)) %>
      </span>

      <%= link_to task, class: "font-medium text-md md:font-semibold md:text-lg mb-1 text-emerald-600 
          group-hover:text-emerald-400 #{ 'text-gray-500 line-through' if task.completed? }" do %>
        <strong> <%= task.name %> </strong>
      <% end %>
    </div>
    
    <div class="<%= task.completed? ? 'hidden' : 'inline-flex' %>">
      <% if task.expired? %>
        <div class="<%= badge_style_by_status(task.deadline) %>">

          <span class='flex justify-center items-center'>
            <svg width="16" height="16" 
              viewBox="0 0 24 24" 
              fill="none" 
              stroke="currentColor" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              class="lucide lucide-clock-alert animate-pulse">
              <path d="M12 6v6l4 2"/>
              <path d="M16 21.16a10 10 0 1 1 5-13.516"/>
              <path d="M20 11.5v6"/>
              <path d="M20 21.5h.01"/>
            </svg>
          </span>

          <span class=""><%= task.deadline %></span>
        </div>
      <% else %>
        <div class="<%= badge_style_by_status(task.deadline) %>">

          <span class="flex justify-center items-center">
            <svg width="16" height="16" 
              viewBox="0 0 24 24" 
              fill="none" 
              stroke="currentColor" 
              stroke-width="2" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              class="lucide lucide-clock">
              <circle cx="12" cy="12" r="10"/>
              <polyline points="12 6 12 12 16 14"/>
            </svg>
          </span>

          <%= task.deadline %>
        </div> 
      <% end %>
    </div>
  </div>

  <div class="flex my-5 text-gray-600 dark:text-gray-300 gap-3">
    <div class="">
      <span>
        <%= lucide_icon(detail_icon(task.status)) %>
      </span>
    </div>

    <div class="flex-1 <%='line-through' if !task.in_progress? %>">
      <%= task.description.html_safe %>
    </div>
  </div>
</div>


