
<div class="w-full my-2 px-4">
  <div class="">

    <div class="flex justify-between items-center gap-4">
      <h2 class="font-semibold text-xl md:text-2xl md:font-extrabold dark:text-gray-100">
        <%= @task.name %>
      </h2>

      <span class="md:hidden">
        <%= render 'dropdown_menu', task: @task %>
      </span>     

    </div>
    
    <hr class="my-2 border-amber-500 dark:border-stone-900">

    <% unless @task.completed? %>
      <p class="text-xm my-4 dark:text-gray-300">
        <strong class="text-sm">Deadline: </strong>
        
        <% if @task.expired? %>
          <span class="<%= 'text-rose-600' if @task.expired? %>">
            <%= "Expired #{distance_of_time_in_words(Date.today, @task.expiration_date)} ago" %>
          </span>
        <% elsif @task.deadline == "Today" %>
          <%= @task.deadline %>
        <% else %>
          <%= @task.expiration_date.nil? ? "No deadline" : " In #{distance_of_time_in_words(Date.today, @task.expiration_date)}" %>
        <% end %>
      </p>
    <% end %>

    <p class="my-4 text-gray-600 dark:text-gray-300">
      <%= @task.description %>
    </p>

    <div class="hidden md:flex md:gap-2">
      <%= link_to tasks_path, class: "mt-2 rounded-lg p-3 bg-gray-700 text-gray-100 inline-block font-medium hover:bg-gray-600" do %>
        <span><%= lucide_icon('arrow-left') %></span>
      <% end %>

      <%= link_to edit_task_path(@task), class: "mt-2 rounded-lg p-3 bg-gray-700 text-gray-100 inline-block font-medium hover:bg-gray-600" do %>
        <span><%= lucide_icon('square-pen') %></span>
      <% end %>

      <%= button_to @task, method: :delete, data: { turbo_confirm: 'Are you shure?' }, 
            class: "mt-2 rounded-lg p-3 bg-red-700 text-gray-100 font-medium hover:bg-red-600" do %>
          <span><%= lucide_icon('trash-2') %></span>
      <% end %>
    </div>
  </div>
</div>