<!-- Links de navegação desktop -->

<nav data-controller="mobile-menu" class="bg-white/30 dark:bg-stone-800/30 backdrop-blur-lg 
     dark:border-stone-700 drop-shadow-md border-b-2 rounded-b-xl border-white mb-12 sticky top-0 z-10">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-20 items-center justify-between">
      <div class="flex items-center">
        <div class="shrink-0">
          <span class="shadow-md overflow-hidden inline"><%= image_tag('logo_.png', class: "size-12 rounded-full shadow-lg border border-1 border-gray-800") %></span> 
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <% nav_items.each do | item | %>
              <%= link_to(item[:page], item[:href], class: nav_class(item[:href]), aria: { current: aria(item[:href])}) %>
            <% end %>
          </div>
        </div>
      </div>

      <% if authenticated? %>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <!-- Profile dropdown -->
            <div class="relative ml-3 flex items-center">
              <div class="shrink-0">
                <%= lucide_icon "user", class: "text-gray-700 dark:text-gray-400 h-6 w-6" %>
              </div>
              <div class="ml-3">
                <div class="text-sm font-medium text-gray-700 dark:text-gray-400"><%= Current.user.email_address %></div>
              </div>
            </div>

            <div class="relative ml-3 flex items-center">
              <%= button_to session_path, class: 'group inline-flex w-full gap-3 rounded-md p-3 text-base 
                  font-medium dark:text-gray-400 hover:bg-gray-700 hover:text-white transition-all duration-300', method: :delete do %>

                <%= lucide_icon 'log-out', class: "group-hover:text-rose-500 transition-all duration-300" %> 
                <span class="hidden lg:inline-flex">Log out</span>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="hidden md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div class="relative ml-3">
              <div>
              </div>
              <%= button_to new_session_path, class: 'group inline-flex w-full gap-3 rounded-md p-3 text-base font-medium text-gray-700 dark:text-gray-400 
                  hover:bg-gray-700 hover:text-white transition-all duration-300', method: :get do %>

                <%= lucide_icon 'log-in', class: "group-hover:text-green-500 transition-all duration-300"%>
                <span class="hidden lg:inline-flex">Log in</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="-mr-2 flex md:hidden">
        <!-- Mobile menu button -->
        <button type="button" data-action="click->mobile-menu#toggleMenu keydown.esc->mobile-menu#closeMenu resize@window->mobile-menu#closeMenu" 
                class="relative inline-flex items-center justify-center rounded-md 
                bg-gray-600 p-3 text-gray-400 dark:text-gray-400 hover:bg-gray-700
                hover:text-white focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-600/50
                hover:ring-1 focus:text-gray-100 transition-all" 
                aria-controls="mobile-menu" aria-expanded="false">

          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg data-mobile-menu-target="btnOpen" class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg data-mobile-menu-target="btnClose" class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div data-mobile-menu-target="menu" class="md:hidden flex-col" id="mobile-menu">
    <div class="space-y-1 px-2 py-2 sm:px-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <% nav_items.each do | item | %>
        <%= link_to(item[:page], item[:href], class: nav_class_mobile(item[:href]), aria: { current: aria(item[:href])}) %>
      <% end %>
    </div>

    <% if authenticated? %>
      <div class="border-t border-gray-700">
        <div class="flex items-center px-5 py-3">
          <div class="shrink-0">
            <%= lucide_icon "user", class: "text-gray-700 dark:text-gray-400 h-6 w-6" %>
          </div>
          <div class="ml-3">
            <div class="text-sm font-medium text-gray-700 dark:text-gray-400"><%= Current.user.email_address %></div>
          </div>          
        </div>

        <div class="mt-3 space-y-1 px-2">          
          <%= button_to session_path, class: 'group inline-flex w-full gap-3 mb-3 rounded-md p-3 text-base font-medium text-gray-700 dark:text-gray-400 hover:bg-gray-700 hover:text-white',
              method: :delete do %>

            <%= lucide_icon 'log-out', class: "group-hover:text-rose-500 transition-all"  %> Log out
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="border-t border-gray-700 pb-3 py-4">
        <div class="mt-3 space-y-1 px-2">
          <%= button_to new_session_path, class: 'group inline-flex w-full gap-3 mb-3 rounded-md p-3 text-base font-medium text-gray-700 dark:text-gray-400 hover:bg-gray-700 hover:text-white',
              method: :get do %>

            <%= lucide_icon 'log-in', class: "group-hover:text-green-500 transition-all "%> Log in
          <% end %>     
        
          <%# link_to 'Sign up', new_registration_path, 
              class: 'font-semibold text-gray-100  duration-200 
              ease-in-out hover:text-yellow-700' %>
        </div>
      </div>
    <% end %>
  </div>
</nav>