<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Life Planner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/c630bf2443.js" data-mutate-approach="sync"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full w-full bg-gray-900">
    <main class="min-h-full min-w-full flex-col">
      <nav class="bg-gray-800 md:px-4 shadow-sm min-w-full">
        <div class="mx-4 md:mx-auto max-w-4xl">
          <div class="flex h-16 justify-between">
            <div class="flex">
              <div class="flex flex-shrink-0 items-center">
                <h3 class="font-extrabold text-xs text-slate-900 py-4 px-2 bg-green-600 rounded-ss-xl rounded-se-xl rounded-es-xl">w311</h3>
              </div>
              <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                <%= link_to "Tasks", tasks_path, 
                  class: "text-gray-100 hover:text-stone-2 inline-flex items-center border-b-2 border-emerald-500 
                  hover:border-indigo-500 transition duration-300 ease-in-out px-1 pt-1 text-sm font-medium" %>
              </div>
            </div>

            <div class="hidden sm:-my-px sm:ml-6 sm:flex md:flex items-center sm:space-x-3">
            <% if authenticated? %>
            <span class="font-medium text-gray-100 inline-flex pt-1"><%= Current.user.email_address %></span>
              <%= button_to session_path, 
                class: 'py-2 px-4 rounded-md text-gray-100 transition duration-300 items-center  
                ease-in-out px-1 text-sm font-medium hover:text-rose-600', method: :delete do %>
                <i class="fa-solid fa-arrow-right-to-bracket fa-2xl"></i>
              <% end %>
            <% else %>
              <%= button_to new_session_path, method: :get,
                class: 'py-2 px-4 rounded-md text-gray-100 transition duration-300 items-center  
                ease-in-out px-1 text-sm font-medium hover:text-emerald-600' do %>
                <i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-2xl"></i>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </nav>

      <div class="py-10">
        <main>
          <div class="mx-4 md:mx-auto md:px-4 max-w-4xl">
            <%= yield %>
          </div>
        </main>
      </div>
    </main>
  </body>
</html>
