<!DOCTYPE html>
<html data-theme="light" class="min-h-screen">
  <head>
    <title><%= content_for(:title) || "Life Planner" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/c630bf2443.js" data-mutate-approach="sync"></script>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-gradient-to-b from-gray-200 to:white 
       dark:bg-gradient-to-b dark:from-stone-900 dark:bg-stone-900">

    <div class="w-full min-h-full text-gray-800 dark:text-gray-100">
      <%= render partial: 'shared/nav_bar' %>

      <main class="px-4">
        <div class="py-5 px-4 w-full lg:px-12 lg:mx-auto lg:max-w-5xl bg-white dark:bg-gray-800 rounded-2xl shadow-lg">
          <%= render partial: 'shared/flash' if flash.present? %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
